.category-single {
  $category-background-blue: #485f8b;
  // .content {
  //   background: map-get($opc-inverse-colors, bg);
  // }
  // .scroll-content {
  //   background: map-get($opc-colors, bg);
  // }
  .toolbar-title {
    color: white;
  }
  .opc-hero-unit {
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    background: url('../assets/img/bg/personalitems-tiled.png') repeat center center $category-background-blue;
    height: 160px;
    color: white;
    position: relative;
    .watermark {
      position: absolute;
      top: 0;
      right: 0;
      transform: scale(2.4);
      transform-origin: 70% 50%;
      color: rgba(white, .5);
    }
  }
  .category-single-heading {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
  }
}