.connection-modal {
  .insto-header {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .plug-icon {
    transform: rotate(45deg);
    width: 3rem;
    margin-right: 1rem;
  }
  .insto-icon {
    display: block;
    height: 6rem;
    width: 6rem;
    border-radius: 6rem;
    overflow: hidden;
  }
}