<ion-header>
  <ion-navbar>
    <ion-buttons left *ngIf="!navCtrl.canGoBack()">
      <button ion-button (click)="closeAll()">
        <span showWhen="ios">Close</span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Connect to {{ insto?.displayName() }}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <loading-bar [active]="showFieldsLoading">Getting connection details</loading-bar>
  <info-bar context="error" *ngIf="showLoadingError" (click)="loadCredentialFields()">
    Uh-oh. We couldn't retrieve the connection details to this institution. Tap here to try again.
  </info-bar>
  <form padding-top class="auth-form connection-form" (ngSubmit)="submitConnect()">
    <header padding class="insto-header">
      <img class="insto-icon" src="assets/img/res/opica/opica.png" alt="OPICA">
      <img class="plug-icon" src="assets/icons/squidink/svg64/devices/power-plug.svg" alt="-->">
      <img class="insto-icon" [src]="insto?.getLogoUrl()" [alt]="insto?.displayName()">
    </header>
    <fieldset padding-horizontal class="auth-form-fields connection-form-fields">
      <h6>Provide your Internet Banking details</h6>
      <ion-input 
        *ngFor="let field of fields" 
        [name]="field.inputName"
        [(ngModel)]="field.value"
        [type]="field.inputType"
        [placeholder]="field.placeholder"
        clearInput></ion-input>
      <!--<ion-input type="text" name="username" [(ngModel)]="username"  placeholder="User name"></ion-input>-->
      <button type="submit" ion-button block color="primary">Connect</button>
      <p (tap)="showExplainConnection()">We don't store your Internet Banking password &nbsp; <ion-icon name="arrow-forward"></ion-icon></p>
    </fieldset>
  </form>
  <!--<section>
    <h4>About the connection</h4>
    <p>We use your internet banking details to connect to your banking data, and automatically categorise the transactions in your accounts.</p>
  </section>-->
</ion-content>
<!--<ion-footer padding [keyboardAttach]="content">
  <button ion-button block color="primary" (click)="submitConnect()">Connect</button>
</ion-footer>-->