.afford-tracking {
  .slider-card.afford-tracking-card .carousel-card {
    width: 75vw;
    padding: $content-padding;
    // height: 260px;
    // max-height: 260px;
    margin: 0 0 $content-margin $content-margin;
  }
  // Theme 
  .slider-card.afford-tracking-card .carousel-card {
    border-radius: 4px;
    color: white;
    background: map-get($opc-colors, slate);
    box-shadow: 0 0 4px rgba(black, .1);
    .afford-tracking-long-desc {
      font-size: 1rem;
      opacity: .6;
    }
  }
}