<ion-header no-border>
  <ion-navbar [navbar-fadeable]="showNavbar" hideBackButton transparent>
    <ion-buttons left *ngIf="navCtrl.canGoBack()">
      <button ion-button icon-left clear navPop color="light">
        <ion-icon name="md-arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <!-- <ion-buttons right *ngIf="goal && !showLoading && !showCreate">
      <button ion-button icon-left clear color="light" (click)="editGoal()">
        <ion-icon name="create"></ion-icon> Edit
      </button>
    </ion-buttons> -->
  </ion-navbar>
</ion-header>
<ion-content fullscreen hero-edge [ngClass]="{ loading: showLoading || showCreate }" (ionScroll)="setNavbarVisibility($event)">
  <info-bar context="danger" *ngIf="showLoadingError" (tap)="loadGoal(true)">
    There was an error when retrieving your goals. Tap to try again.
  </info-bar>
  <afford-loading *ngIf="showLoading"></afford-loading>
  <ng-container *ngIf="goal && !showLoading">
    <afford-begin *ngIf="showCreate" [goal]="goal"></afford-begin>
    <!--<afford-overview *ngIf="goal && !showCreate" [goal]="goal"></afford-overview>-->
    <ng-container *ngIf="!showCreate">
      <afford-property-hero [goal]="goal"></afford-property-hero>
      <afford-burndown (onEdit)="editGoal()"></afford-burndown>
      <afford-tracking [goal]="goal"></afford-tracking>
      <afford-time [goal]="goal"></afford-time>

      <section>
        <div *ngIf="goal.existingPropertyNameTemp">
          <h4>Owned Property</h4>
          <p>{{goal.existingPropertyNameTemp}}</p>
          <p>Asset value: {{goal.existingAssetValue | currency:'AUD':true}}</p>
        </div>
        <!--<div *ngIf="goal.mortgageAccounts && goal.mortgageAccounts.length">
          <span *ngFor="let mortgage of goal.mortgageAccounts">{{mortgage.displayName()}} </span>
        </div>-->
        <div *ngIf="goal.targetPropertyNameTemp">
          <h4>Target Property</h4>
          {{goal.targetPropertyNameTemp}}
          <p>Asset value: {{goal.targetAssetValue}}</p>
        </div>
      </section>
      <ion-list no-margin>
        <ion-item>
          Max amount borrowable
          <ion-note item-end>{{goal.maxAmountBorrowable | currency:'AUD':true}}</ion-note>
        </ion-item>
        <ion-item>
          Equity
          <ion-note item-end>{{goal.equity | currency:'AUD':true}}</ion-note>
        </ion-item>
        <ion-item>
          Amount until affordable
          <ion-note item-end>{{goal.amountUntilAffordable | currency:'AUD':true}}</ion-note>
        </ion-item>
        <ion-item>
          Months until affordable
          <ion-note item-end>{{goal.intervalsUntilAffordable}}</ion-note>
        </ion-item>
      </ion-list>
      <div padding>
        <button ion-button block (click)="editGoal()">Edit existing goal</button>
      </div>
      <!--<div text-center *ngIf="goal.snapshotDate">Last updated: {{goal.snapshotDate | date:'medium'}}</div>      -->
    </ng-container>
  </ng-container>
</ion-content>
<!-- <ion-footer *ngIf="goal && !showLoading && !showCreate"> -->
  <!-- <div class="tracking-notice">Affordability Goal is currently active</div> -->
<!-- </ion-footer> -->