<ion-content>
  <ion-toolbar *ngIf="navCtrl.canGoBack()" [hidden]="isSubmitted">
    <button ion-button icon-left clear navPop color="light">
      <ion-icon name="md-arrow-back"></ion-icon>
    </button>
  </ion-toolbar>
  <section [hidden]="isSubmitted">
    <form class="auth-form forgot-password-form" (ngSubmit)="submitForgotPassword()">
      <fieldset padding class="auth-form-fields">
        <h2>Enter your registered email address:</h2>
        <ion-input type="email" name="email" [(ngModel)]="email" placeholder="Your email"></ion-input>
        <ion-item>
          <ion-label>Please reset my</ion-label>
          <ion-select name="mode" [(ngModel)]="forgottenMode">
            <ion-option value="password" selected="true">Password</ion-option>
            <ion-option value="username">Username</ion-option>
            <ion-option value="pin">PIN</ion-option>
          </ion-select>
        </ion-item>
      </fieldset>
    </form>
  </section>
  <section *ngIf="isSubmitted">
    <div padding class="forgot-password-success">
      <ion-grid>
        <ion-row [ngSwitch]="forgottenMode">
          <ion-col width-33 center text-center><opc-icon name="paper-plane-1" set="essential" size="xl"></opc-icon></ion-col>
          <ion-col width-64 center *ngSwitchCase="'username'"><h2>Sent a username reminder </h2></ion-col>
          <ion-col width-64 center *ngSwitchCase="'password'"><h2>Sent a password reset</h2></ion-col>
          <ion-col width-64 center *ngSwitchCase="'pin'"><h2>Sent a PIN reset</h2></ion-col>
        </ion-row>
      </ion-grid>
      <p text-center>Please check your email account for an email containing further instructions</p>
    </div>
  </section>
</ion-content>
<ion-footer padding>
  <button [hidden]="isSubmitted" ion-button block large color="light" (click)="submitForgotPassword()">Submit</button>
  <button *ngIf="isSubmitted" ion-button block large color="light" navPop>OK</button>
</ion-footer>