.opc-forgot-password {
  .auth-form {
    .auth-form-fields {
      position: relative;
      margin-top: -200px;
      top: 50vh;
    }
  } 
  .forgot-password-success {
    @extend %centered-column;
  }
}
