<ion-header no-border>
  <ion-navbar hideBackButton transparent>
    <ion-buttons left *ngIf="navCtrl.canGoBack()" [hidden]="isSubmitted">
      <button ion-button icon-left clear navPop color="light">
        <ion-icon name="md-arrow-back"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content #content no-bounce>
  <form class="auth-form login-form login-immortal-form" (ngSubmit)="submitLogin()"> 
    <div padding>
      <h1>Access OPICA Insights using a test token</h1>
      <p>Provide your token below</p>
    </div>
    <fieldset padding class="auth-form-fields login-form-fields">
      <ion-input type="text" name="immortalToken" [(ngModel)]="immortalToken" placeholder="Your unique token"></ion-input>
      <endpoint-switcher *ngIf="allowChangeBaseUrl && showChangeBaseUrl" (endpointSelected)="bindSelectedEndpoint($event)"></endpoint-switcher>
      <button ion-button block color="light" (tap)="submitLogin()">Continue</button>
      <div margin-vertical text-center *ngIf="allowChangeBaseUrl">
        <a ion-text color="light" *ngIf="showChangeBaseUrl" (click)="showChangeBaseUrl = false">Hide select endpoint</a>
        <a ion-text color="light" *ngIf="!showChangeBaseUrl" (click)="showChangeBaseUrl = true">Select endpoint</a>
      </div>
    </fieldset>
    <!--<input ion-fixed type="submit">-->
  </form>
</ion-content>