    /*
    Flaticon icon font: Flaticon
    Creation date: 22/06/2016 15:38
    */

    @font-face {
  font-family: "Flaticon Interaction";
  src: url("../assets/fonts/flaticon/flaticon-interaction.eot");
  src: url("../assets/fonts/flaticon/flaticon-interaction.eot?#iefix") format("embedded-opentype"),
       url("../assets/fonts/flaticon/flaticon-interaction.woff") format("woff"),
       url("../assets/fonts/flaticon/flaticon-interaction.ttf") format("truetype"),
       url("../assets/fonts/flaticon/flaticon-interaction.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../assets/fonts/flaticon/flaticon-interaction.svg#Flaticon") format("svg");
  }
}

    .fi-interaction:before{
        display: inline-block;
  font-family: "Flaticon Interaction";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .fi-interaction-archive:before { content: "\f100"; }
.fi-interaction-archive-1:before { content: "\f101"; }
.fi-interaction-archive-10:before { content: "\f102"; }
.fi-interaction-archive-11:before { content: "\f103"; }
.fi-interaction-archive-12:before { content: "\f104"; }
.fi-interaction-archive-13:before { content: "\f105"; }
.fi-interaction-archive-14:before { content: "\f106"; }
.fi-interaction-archive-15:before { content: "\f107"; }
.fi-interaction-archive-16:before { content: "\f108"; }
.fi-interaction-archive-17:before { content: "\f109"; }
.fi-interaction-archive-18:before { content: "\f10a"; }
.fi-interaction-archive-19:before { content: "\f10b"; }
.fi-interaction-archive-2:before { content: "\f10c"; }
.fi-interaction-archive-3:before { content: "\f10d"; }
.fi-interaction-archive-4:before { content: "\f10e"; }
.fi-interaction-archive-5:before { content: "\f10f"; }
.fi-interaction-archive-6:before { content: "\f110"; }
.fi-interaction-archive-7:before { content: "\f111"; }
.fi-interaction-archive-8:before { content: "\f112"; }
.fi-interaction-archive-9:before { content: "\f113"; }
.fi-interaction-bookmark:before { content: "\f114"; }
.fi-interaction-bookmark-1:before { content: "\f115"; }
.fi-interaction-bookmark-10:before { content: "\f116"; }
.fi-interaction-bookmark-11:before { content: "\f117"; }
.fi-interaction-bookmark-12:before { content: "\f118"; }
.fi-interaction-bookmark-13:before { content: "\f119"; }
.fi-interaction-bookmark-14:before { content: "\f11a"; }
.fi-interaction-bookmark-15:before { content: "\f11b"; }
.fi-interaction-bookmark-16:before { content: "\f11c"; }
.fi-interaction-bookmark-17:before { content: "\f11d"; }
.fi-interaction-bookmark-18:before { content: "\f11e"; }
.fi-interaction-bookmark-19:before { content: "\f11f"; }
.fi-interaction-bookmark-2:before { content: "\f120"; }
.fi-interaction-bookmark-3:before { content: "\f121"; }
.fi-interaction-bookmark-4:before { content: "\f122"; }
.fi-interaction-bookmark-5:before { content: "\f123"; }
.fi-interaction-bookmark-6:before { content: "\f124"; }
.fi-interaction-bookmark-7:before { content: "\f125"; }
.fi-interaction-bookmark-8:before { content: "\f126"; }
.fi-interaction-bookmark-9:before { content: "\f127"; }
.fi-interaction-browser:before { content: "\f128"; }
.fi-interaction-browser-1:before { content: "\f129"; }
.fi-interaction-browser-10:before { content: "\f12a"; }
.fi-interaction-browser-11:before { content: "\f12b"; }
.fi-interaction-browser-12:before { content: "\f12c"; }
.fi-interaction-browser-13:before { content: "\f12d"; }
.fi-interaction-browser-14:before { content: "\f12e"; }
.fi-interaction-browser-15:before { content: "\f12f"; }
.fi-interaction-browser-16:before { content: "\f130"; }
.fi-interaction-browser-17:before { content: "\f131"; }
.fi-interaction-browser-18:before { content: "\f132"; }
.fi-interaction-browser-19:before { content: "\f133"; }
.fi-interaction-browser-2:before { content: "\f134"; }
.fi-interaction-browser-3:before { content: "\f135"; }
.fi-interaction-browser-4:before { content: "\f136"; }
.fi-interaction-browser-5:before { content: "\f137"; }
.fi-interaction-browser-6:before { content: "\f138"; }
.fi-interaction-browser-7:before { content: "\f139"; }
.fi-interaction-browser-8:before { content: "\f13a"; }
.fi-interaction-browser-9:before { content: "\f13b"; }
.fi-interaction-calendar:before { content: "\f13c"; }
.fi-interaction-calendar-1:before { content: "\f13d"; }
.fi-interaction-calendar-10:before { content: "\f13e"; }
.fi-interaction-calendar-11:before { content: "\f13f"; }
.fi-interaction-calendar-12:before { content: "\f140"; }
.fi-interaction-calendar-13:before { content: "\f141"; }
.fi-interaction-calendar-14:before { content: "\f142"; }
.fi-interaction-calendar-15:before { content: "\f143"; }
.fi-interaction-calendar-16:before { content: "\f144"; }
.fi-interaction-calendar-17:before { content: "\f145"; }
.fi-interaction-calendar-18:before { content: "\f146"; }
.fi-interaction-calendar-19:before { content: "\f147"; }
.fi-interaction-calendar-2:before { content: "\f148"; }
.fi-interaction-calendar-20:before { content: "\f149"; }
.fi-interaction-calendar-21:before { content: "\f14a"; }
.fi-interaction-calendar-22:before { content: "\f14b"; }
.fi-interaction-calendar-23:before { content: "\f14c"; }
.fi-interaction-calendar-24:before { content: "\f14d"; }
.fi-interaction-calendar-25:before { content: "\f14e"; }
.fi-interaction-calendar-26:before { content: "\f14f"; }
.fi-interaction-calendar-27:before { content: "\f150"; }
.fi-interaction-calendar-28:before { content: "\f151"; }
.fi-interaction-calendar-29:before { content: "\f152"; }
.fi-interaction-calendar-3:before { content: "\f153"; }
.fi-interaction-calendar-30:before { content: "\f154"; }
.fi-interaction-calendar-31:before { content: "\f155"; }
.fi-interaction-calendar-32:before { content: "\f156"; }
.fi-interaction-calendar-33:before { content: "\f157"; }
.fi-interaction-calendar-34:before { content: "\f158"; }
.fi-interaction-calendar-35:before { content: "\f159"; }
.fi-interaction-calendar-36:before { content: "\f15a"; }
.fi-interaction-calendar-37:before { content: "\f15b"; }
.fi-interaction-calendar-38:before { content: "\f15c"; }
.fi-interaction-calendar-39:before { content: "\f15d"; }
.fi-interaction-calendar-4:before { content: "\f15e"; }
.fi-interaction-calendar-5:before { content: "\f15f"; }
.fi-interaction-calendar-6:before { content: "\f160"; }
.fi-interaction-calendar-7:before { content: "\f161"; }
.fi-interaction-calendar-8:before { content: "\f162"; }
.fi-interaction-calendar-9:before { content: "\f163"; }
.fi-interaction-cloud-computing:before { content: "\f164"; }
.fi-interaction-cloud-computing-1:before { content: "\f165"; }
.fi-interaction-cloud-computing-10:before { content: "\f166"; }
.fi-interaction-cloud-computing-11:before { content: "\f167"; }
.fi-interaction-cloud-computing-12:before { content: "\f168"; }
.fi-interaction-cloud-computing-13:before { content: "\f169"; }
.fi-interaction-cloud-computing-14:before { content: "\f16a"; }
.fi-interaction-cloud-computing-15:before { content: "\f16b"; }
.fi-interaction-cloud-computing-16:before { content: "\f16c"; }
.fi-interaction-cloud-computing-17:before { content: "\f16d"; }
.fi-interaction-cloud-computing-18:before { content: "\f16e"; }
.fi-interaction-cloud-computing-19:before { content: "\f16f"; }
.fi-interaction-cloud-computing-2:before { content: "\f170"; }
.fi-interaction-cloud-computing-3:before { content: "\f171"; }
.fi-interaction-cloud-computing-4:before { content: "\f172"; }
.fi-interaction-cloud-computing-5:before { content: "\f173"; }
.fi-interaction-cloud-computing-6:before { content: "\f174"; }
.fi-interaction-cloud-computing-7:before { content: "\f175"; }
.fi-interaction-cloud-computing-8:before { content: "\f176"; }
.fi-interaction-cloud-computing-9:before { content: "\f177"; }
.fi-interaction-database:before { content: "\f178"; }
.fi-interaction-database-1:before { content: "\f179"; }
.fi-interaction-database-10:before { content: "\f17a"; }
.fi-interaction-database-11:before { content: "\f17b"; }
.fi-interaction-database-12:before { content: "\f17c"; }
.fi-interaction-database-13:before { content: "\f17d"; }
.fi-interaction-database-14:before { content: "\f17e"; }
.fi-interaction-database-15:before { content: "\f17f"; }
.fi-interaction-database-16:before { content: "\f180"; }
.fi-interaction-database-17:before { content: "\f181"; }
.fi-interaction-database-18:before { content: "\f182"; }
.fi-interaction-database-19:before { content: "\f183"; }
.fi-interaction-database-2:before { content: "\f184"; }
.fi-interaction-database-3:before { content: "\f185"; }
.fi-interaction-database-4:before { content: "\f186"; }
.fi-interaction-database-5:before { content: "\f187"; }
.fi-interaction-database-6:before { content: "\f188"; }
.fi-interaction-database-7:before { content: "\f189"; }
.fi-interaction-database-8:before { content: "\f18a"; }
.fi-interaction-database-9:before { content: "\f18b"; }
.fi-interaction-envelope:before { content: "\f18c"; }
.fi-interaction-envelope-1:before { content: "\f18d"; }
.fi-interaction-envelope-2:before { content: "\f18e"; }
.fi-interaction-file:before { content: "\f18f"; }
.fi-interaction-file-1:before { content: "\f190"; }
.fi-interaction-file-10:before { content: "\f191"; }
.fi-interaction-file-11:before { content: "\f192"; }
.fi-interaction-file-12:before { content: "\f193"; }
.fi-interaction-file-13:before { content: "\f194"; }
.fi-interaction-file-14:before { content: "\f195"; }
.fi-interaction-file-15:before { content: "\f196"; }
.fi-interaction-file-16:before { content: "\f197"; }
.fi-interaction-file-17:before { content: "\f198"; }
.fi-interaction-file-18:before { content: "\f199"; }
.fi-interaction-file-19:before { content: "\f19a"; }
.fi-interaction-file-2:before { content: "\f19b"; }
.fi-interaction-file-3:before { content: "\f19c"; }
.fi-interaction-file-4:before { content: "\f19d"; }
.fi-interaction-file-5:before { content: "\f19e"; }
.fi-interaction-file-6:before { content: "\f19f"; }
.fi-interaction-file-7:before { content: "\f1a0"; }
.fi-interaction-file-8:before { content: "\f1a1"; }
.fi-interaction-file-9:before { content: "\f1a2"; }
.fi-interaction-folder:before { content: "\f1a3"; }
.fi-interaction-folder-1:before { content: "\f1a4"; }
.fi-interaction-folder-10:before { content: "\f1a5"; }
.fi-interaction-folder-11:before { content: "\f1a6"; }
.fi-interaction-folder-12:before { content: "\f1a7"; }
.fi-interaction-folder-13:before { content: "\f1a8"; }
.fi-interaction-folder-14:before { content: "\f1a9"; }
.fi-interaction-folder-15:before { content: "\f1aa"; }
.fi-interaction-folder-16:before { content: "\f1ab"; }
.fi-interaction-folder-17:before { content: "\f1ac"; }
.fi-interaction-folder-18:before { content: "\f1ad"; }
.fi-interaction-folder-19:before { content: "\f1ae"; }
.fi-interaction-folder-2:before { content: "\f1af"; }
.fi-interaction-folder-3:before { content: "\f1b0"; }
.fi-interaction-folder-4:before { content: "\f1b1"; }
.fi-interaction-folder-5:before { content: "\f1b2"; }
.fi-interaction-folder-6:before { content: "\f1b3"; }
.fi-interaction-folder-7:before { content: "\f1b4"; }
.fi-interaction-folder-8:before { content: "\f1b5"; }
.fi-interaction-folder-9:before { content: "\f1b6"; }
.fi-interaction-image:before { content: "\f1b7"; }
.fi-interaction-image-1:before { content: "\f1b8"; }
.fi-interaction-image-10:before { content: "\f1b9"; }
.fi-interaction-image-11:before { content: "\f1ba"; }
.fi-interaction-image-12:before { content: "\f1bb"; }
.fi-interaction-image-13:before { content: "\f1bc"; }
.fi-interaction-image-14:before { content: "\f1bd"; }
.fi-interaction-image-15:before { content: "\f1be"; }
.fi-interaction-image-16:before { content: "\f1bf"; }
.fi-interaction-image-17:before { content: "\f1c0"; }
.fi-interaction-image-18:before { content: "\f1c1"; }
.fi-interaction-image-19:before { content: "\f1c2"; }
.fi-interaction-image-2:before { content: "\f1c3"; }
.fi-interaction-image-3:before { content: "\f1c4"; }
.fi-interaction-image-4:before { content: "\f1c5"; }
.fi-interaction-image-5:before { content: "\f1c6"; }
.fi-interaction-image-6:before { content: "\f1c7"; }
.fi-interaction-image-7:before { content: "\f1c8"; }
.fi-interaction-image-8:before { content: "\f1c9"; }
.fi-interaction-image-9:before { content: "\f1ca"; }
.fi-interaction-list:before { content: "\f1cb"; }
.fi-interaction-list-1:before { content: "\f1cc"; }
.fi-interaction-list-10:before { content: "\f1cd"; }
.fi-interaction-list-11:before { content: "\f1ce"; }
.fi-interaction-list-12:before { content: "\f1cf"; }
.fi-interaction-list-13:before { content: "\f1d0"; }
.fi-interaction-list-14:before { content: "\f1d1"; }
.fi-interaction-list-15:before { content: "\f1d2"; }
.fi-interaction-list-16:before { content: "\f1d3"; }
.fi-interaction-list-17:before { content: "\f1d4"; }
.fi-interaction-list-18:before { content: "\f1d5"; }
.fi-interaction-list-19:before { content: "\f1d6"; }
.fi-interaction-list-2:before { content: "\f1d7"; }
.fi-interaction-list-3:before { content: "\f1d8"; }
.fi-interaction-list-4:before { content: "\f1d9"; }
.fi-interaction-list-5:before { content: "\f1da"; }
.fi-interaction-list-6:before { content: "\f1db"; }
.fi-interaction-list-7:before { content: "\f1dc"; }
.fi-interaction-list-8:before { content: "\f1dd"; }
.fi-interaction-list-9:before { content: "\f1de"; }
.fi-interaction-mail:before { content: "\f1df"; }
.fi-interaction-mail-1:before { content: "\f1e0"; }
.fi-interaction-mail-10:before { content: "\f1e1"; }
.fi-interaction-mail-11:before { content: "\f1e2"; }
.fi-interaction-mail-12:before { content: "\f1e3"; }
.fi-interaction-mail-13:before { content: "\f1e4"; }
.fi-interaction-mail-14:before { content: "\f1e5"; }
.fi-interaction-mail-15:before { content: "\f1e6"; }
.fi-interaction-mail-16:before { content: "\f1e7"; }
.fi-interaction-mail-2:before { content: "\f1e8"; }
.fi-interaction-mail-3:before { content: "\f1e9"; }
.fi-interaction-mail-4:before { content: "\f1ea"; }
.fi-interaction-mail-5:before { content: "\f1eb"; }
.fi-interaction-mail-6:before { content: "\f1ec"; }
.fi-interaction-mail-7:before { content: "\f1ed"; }
.fi-interaction-mail-8:before { content: "\f1ee"; }
.fi-interaction-mail-9:before { content: "\f1ef"; }
.fi-interaction-map:before { content: "\f1f0"; }
.fi-interaction-map-1:before { content: "\f1f1"; }
.fi-interaction-map-10:before { content: "\f1f2"; }
.fi-interaction-map-11:before { content: "\f1f3"; }
.fi-interaction-map-12:before { content: "\f1f4"; }
.fi-interaction-map-13:before { content: "\f1f5"; }
.fi-interaction-map-14:before { content: "\f1f6"; }
.fi-interaction-map-15:before { content: "\f1f7"; }
.fi-interaction-map-16:before { content: "\f1f8"; }
.fi-interaction-map-17:before { content: "\f1f9"; }
.fi-interaction-map-18:before { content: "\f1fa"; }
.fi-interaction-map-19:before { content: "\f1fb"; }
.fi-interaction-map-2:before { content: "\f1fc"; }
.fi-interaction-map-3:before { content: "\f1fd"; }
.fi-interaction-map-4:before { content: "\f1fe"; }
.fi-interaction-map-5:before { content: "\f1ff"; }
.fi-interaction-map-6:before { content: "\f200"; }
.fi-interaction-map-7:before { content: "\f201"; }
.fi-interaction-map-8:before { content: "\f202"; }
.fi-interaction-map-9:before { content: "\f203"; }
.fi-interaction-music-player:before { content: "\f204"; }
.fi-interaction-music-player-1:before { content: "\f205"; }
.fi-interaction-music-player-10:before { content: "\f206"; }
.fi-interaction-music-player-11:before { content: "\f207"; }
.fi-interaction-music-player-12:before { content: "\f208"; }
.fi-interaction-music-player-13:before { content: "\f209"; }
.fi-interaction-music-player-14:before { content: "\f20a"; }
.fi-interaction-music-player-15:before { content: "\f20b"; }
.fi-interaction-music-player-16:before { content: "\f20c"; }
.fi-interaction-music-player-17:before { content: "\f20d"; }
.fi-interaction-music-player-18:before { content: "\f20e"; }
.fi-interaction-music-player-19:before { content: "\f20f"; }
.fi-interaction-music-player-2:before { content: "\f210"; }
.fi-interaction-music-player-3:before { content: "\f211"; }
.fi-interaction-music-player-4:before { content: "\f212"; }
.fi-interaction-music-player-5:before { content: "\f213"; }
.fi-interaction-music-player-6:before { content: "\f214"; }
.fi-interaction-music-player-7:before { content: "\f215"; }
.fi-interaction-music-player-8:before { content: "\f216"; }
.fi-interaction-music-player-9:before { content: "\f217"; }
.fi-interaction-notebook:before { content: "\f218"; }
.fi-interaction-notebook-1:before { content: "\f219"; }
.fi-interaction-notebook-10:before { content: "\f21a"; }
.fi-interaction-notebook-11:before { content: "\f21b"; }
.fi-interaction-notebook-12:before { content: "\f21c"; }
.fi-interaction-notebook-13:before { content: "\f21d"; }
.fi-interaction-notebook-14:before { content: "\f21e"; }
.fi-interaction-notebook-15:before { content: "\f21f"; }
.fi-interaction-notebook-16:before { content: "\f220"; }
.fi-interaction-notebook-17:before { content: "\f221"; }
.fi-interaction-notebook-18:before { content: "\f222"; }
.fi-interaction-notebook-19:before { content: "\f223"; }
.fi-interaction-notebook-2:before { content: "\f224"; }
.fi-interaction-notebook-3:before { content: "\f225"; }
.fi-interaction-notebook-4:before { content: "\f226"; }
.fi-interaction-notebook-5:before { content: "\f227"; }
.fi-interaction-notebook-6:before { content: "\f228"; }
.fi-interaction-notebook-7:before { content: "\f229"; }
.fi-interaction-notebook-8:before { content: "\f22a"; }
.fi-interaction-notebook-9:before { content: "\f22b"; }
.fi-interaction-notepad:before { content: "\f22c"; }
.fi-interaction-notepad-1:before { content: "\f22d"; }
.fi-interaction-notepad-10:before { content: "\f22e"; }
.fi-interaction-notepad-11:before { content: "\f22f"; }
.fi-interaction-notepad-12:before { content: "\f230"; }
.fi-interaction-notepad-13:before { content: "\f231"; }
.fi-interaction-notepad-14:before { content: "\f232"; }
.fi-interaction-notepad-15:before { content: "\f233"; }
.fi-interaction-notepad-16:before { content: "\f234"; }
.fi-interaction-notepad-17:before { content: "\f235"; }
.fi-interaction-notepad-18:before { content: "\f236"; }
.fi-interaction-notepad-19:before { content: "\f237"; }
.fi-interaction-notepad-2:before { content: "\f238"; }
.fi-interaction-notepad-3:before { content: "\f239"; }
.fi-interaction-notepad-4:before { content: "\f23a"; }
.fi-interaction-notepad-5:before { content: "\f23b"; }
.fi-interaction-notepad-6:before { content: "\f23c"; }
.fi-interaction-notepad-7:before { content: "\f23d"; }
.fi-interaction-notepad-8:before { content: "\f23e"; }
.fi-interaction-notepad-9:before { content: "\f23f"; }
.fi-interaction-phone-call:before { content: "\f240"; }
.fi-interaction-phone-call-1:before { content: "\f241"; }
.fi-interaction-phone-call-10:before { content: "\f242"; }
.fi-interaction-phone-call-11:before { content: "\f243"; }
.fi-interaction-phone-call-12:before { content: "\f244"; }
.fi-interaction-phone-call-13:before { content: "\f245"; }
.fi-interaction-phone-call-14:before { content: "\f246"; }
.fi-interaction-phone-call-15:before { content: "\f247"; }
.fi-interaction-phone-call-16:before { content: "\f248"; }
.fi-interaction-phone-call-17:before { content: "\f249"; }
.fi-interaction-phone-call-18:before { content: "\f24a"; }
.fi-interaction-phone-call-19:before { content: "\f24b"; }
.fi-interaction-phone-call-2:before { content: "\f24c"; }
.fi-interaction-phone-call-3:before { content: "\f24d"; }
.fi-interaction-phone-call-4:before { content: "\f24e"; }
.fi-interaction-phone-call-5:before { content: "\f24f"; }
.fi-interaction-phone-call-6:before { content: "\f250"; }
.fi-interaction-phone-call-7:before { content: "\f251"; }
.fi-interaction-phone-call-8:before { content: "\f252"; }
.fi-interaction-phone-call-9:before { content: "\f253"; }
.fi-interaction-placeholder:before { content: "\f254"; }
.fi-interaction-placeholder-1:before { content: "\f255"; }
.fi-interaction-placeholder-10:before { content: "\f256"; }
.fi-interaction-placeholder-11:before { content: "\f257"; }
.fi-interaction-placeholder-12:before { content: "\f258"; }
.fi-interaction-placeholder-13:before { content: "\f259"; }
.fi-interaction-placeholder-14:before { content: "\f25a"; }
.fi-interaction-placeholder-15:before { content: "\f25b"; }
.fi-interaction-placeholder-16:before { content: "\f25c"; }
.fi-interaction-placeholder-17:before { content: "\f25d"; }
.fi-interaction-placeholder-18:before { content: "\f25e"; }
.fi-interaction-placeholder-19:before { content: "\f25f"; }
.fi-interaction-placeholder-2:before { content: "\f260"; }
.fi-interaction-placeholder-3:before { content: "\f261"; }
.fi-interaction-placeholder-4:before { content: "\f262"; }
.fi-interaction-placeholder-5:before { content: "\f263"; }
.fi-interaction-placeholder-6:before { content: "\f264"; }
.fi-interaction-placeholder-7:before { content: "\f265"; }
.fi-interaction-placeholder-8:before { content: "\f266"; }
.fi-interaction-placeholder-9:before { content: "\f267"; }
.fi-interaction-price-tag:before { content: "\f268"; }
.fi-interaction-price-tag-1:before { content: "\f269"; }
.fi-interaction-price-tag-10:before { content: "\f26a"; }
.fi-interaction-price-tag-11:before { content: "\f26b"; }
.fi-interaction-price-tag-12:before { content: "\f26c"; }
.fi-interaction-price-tag-13:before { content: "\f26d"; }
.fi-interaction-price-tag-14:before { content: "\f26e"; }
.fi-interaction-price-tag-15:before { content: "\f26f"; }
.fi-interaction-price-tag-16:before { content: "\f270"; }
.fi-interaction-price-tag-17:before { content: "\f271"; }
.fi-interaction-price-tag-18:before { content: "\f272"; }
.fi-interaction-price-tag-19:before { content: "\f273"; }
.fi-interaction-price-tag-2:before { content: "\f274"; }
.fi-interaction-price-tag-3:before { content: "\f275"; }
.fi-interaction-price-tag-4:before { content: "\f276"; }
.fi-interaction-price-tag-5:before { content: "\f277"; }
.fi-interaction-price-tag-6:before { content: "\f278"; }
.fi-interaction-price-tag-7:before { content: "\f279"; }
.fi-interaction-price-tag-8:before { content: "\f27a"; }
.fi-interaction-price-tag-9:before { content: "\f27b"; }
.fi-interaction-server:before { content: "\f27c"; }
.fi-interaction-server-1:before { content: "\f27d"; }
.fi-interaction-server-10:before { content: "\f27e"; }
.fi-interaction-server-11:before { content: "\f27f"; }
.fi-interaction-server-12:before { content: "\f280"; }
.fi-interaction-server-13:before { content: "\f281"; }
.fi-interaction-server-14:before { content: "\f282"; }
.fi-interaction-server-15:before { content: "\f283"; }
.fi-interaction-server-16:before { content: "\f284"; }
.fi-interaction-server-17:before { content: "\f285"; }
.fi-interaction-server-18:before { content: "\f286"; }
.fi-interaction-server-19:before { content: "\f287"; }
.fi-interaction-server-2:before { content: "\f288"; }
.fi-interaction-server-3:before { content: "\f289"; }
.fi-interaction-server-4:before { content: "\f28a"; }
.fi-interaction-server-5:before { content: "\f28b"; }
.fi-interaction-server-6:before { content: "\f28c"; }
.fi-interaction-server-7:before { content: "\f28d"; }
.fi-interaction-server-8:before { content: "\f28e"; }
.fi-interaction-server-9:before { content: "\f28f"; }
.fi-interaction-signs:before { content: "\f290"; }
.fi-interaction-signs-1:before { content: "\f291"; }
.fi-interaction-signs-2:before { content: "\f292"; }
.fi-interaction-signs-3:before { content: "\f293"; }
.fi-interaction-signs-4:before { content: "\f294"; }
.fi-interaction-signs-5:before { content: "\f295"; }
.fi-interaction-signs-6:before { content: "\f296"; }
.fi-interaction-signs-7:before { content: "\f297"; }
.fi-interaction-signs-8:before { content: "\f298"; }
.fi-interaction-signs-9:before { content: "\f299"; }
.fi-interaction-smartphone:before { content: "\f29a"; }
.fi-interaction-smartphone-1:before { content: "\f29b"; }
.fi-interaction-smartphone-10:before { content: "\f29c"; }
.fi-interaction-smartphone-11:before { content: "\f29d"; }
.fi-interaction-smartphone-12:before { content: "\f29e"; }
.fi-interaction-smartphone-13:before { content: "\f29f"; }
.fi-interaction-smartphone-14:before { content: "\f2a0"; }
.fi-interaction-smartphone-15:before { content: "\f2a1"; }
.fi-interaction-smartphone-16:before { content: "\f2a2"; }
.fi-interaction-smartphone-17:before { content: "\f2a3"; }
.fi-interaction-smartphone-18:before { content: "\f2a4"; }
.fi-interaction-smartphone-19:before { content: "\f2a5"; }
.fi-interaction-smartphone-2:before { content: "\f2a6"; }
.fi-interaction-smartphone-3:before { content: "\f2a7"; }
.fi-interaction-smartphone-4:before { content: "\f2a8"; }
.fi-interaction-smartphone-5:before { content: "\f2a9"; }
.fi-interaction-smartphone-6:before { content: "\f2aa"; }
.fi-interaction-smartphone-7:before { content: "\f2ab"; }
.fi-interaction-smartphone-8:before { content: "\f2ac"; }
.fi-interaction-smartphone-9:before { content: "\f2ad"; }
.fi-interaction-speech-bubble:before { content: "\f2ae"; }
.fi-interaction-speech-bubble-1:before { content: "\f2af"; }
.fi-interaction-speech-bubble-10:before { content: "\f2b0"; }
.fi-interaction-speech-bubble-11:before { content: "\f2b1"; }
.fi-interaction-speech-bubble-12:before { content: "\f2b2"; }
.fi-interaction-speech-bubble-13:before { content: "\f2b3"; }
.fi-interaction-speech-bubble-14:before { content: "\f2b4"; }
.fi-interaction-speech-bubble-15:before { content: "\f2b5"; }
.fi-interaction-speech-bubble-16:before { content: "\f2b6"; }
.fi-interaction-speech-bubble-17:before { content: "\f2b7"; }
.fi-interaction-speech-bubble-18:before { content: "\f2b8"; }
.fi-interaction-speech-bubble-19:before { content: "\f2b9"; }
.fi-interaction-speech-bubble-2:before { content: "\f2ba"; }
.fi-interaction-speech-bubble-3:before { content: "\f2bb"; }
.fi-interaction-speech-bubble-4:before { content: "\f2bc"; }
.fi-interaction-speech-bubble-5:before { content: "\f2bd"; }
.fi-interaction-speech-bubble-6:before { content: "\f2be"; }
.fi-interaction-speech-bubble-7:before { content: "\f2bf"; }
.fi-interaction-speech-bubble-8:before { content: "\f2c0"; }
.fi-interaction-speech-bubble-9:before { content: "\f2c1"; }
.fi-interaction-stopwatch:before { content: "\f2c2"; }
.fi-interaction-stopwatch-1:before { content: "\f2c3"; }
.fi-interaction-stopwatch-10:before { content: "\f2c4"; }
.fi-interaction-stopwatch-11:before { content: "\f2c5"; }
.fi-interaction-stopwatch-12:before { content: "\f2c6"; }
.fi-interaction-stopwatch-13:before { content: "\f2c7"; }
.fi-interaction-stopwatch-14:before { content: "\f2c8"; }
.fi-interaction-stopwatch-15:before { content: "\f2c9"; }
.fi-interaction-stopwatch-16:before { content: "\f2ca"; }
.fi-interaction-stopwatch-17:before { content: "\f2cb"; }
.fi-interaction-stopwatch-18:before { content: "\f2cc"; }
.fi-interaction-stopwatch-19:before { content: "\f2cd"; }
.fi-interaction-stopwatch-2:before { content: "\f2ce"; }
.fi-interaction-stopwatch-20:before { content: "\f2cf"; }
.fi-interaction-stopwatch-21:before { content: "\f2d0"; }
.fi-interaction-stopwatch-22:before { content: "\f2d1"; }
.fi-interaction-stopwatch-23:before { content: "\f2d2"; }
.fi-interaction-stopwatch-24:before { content: "\f2d3"; }
.fi-interaction-stopwatch-25:before { content: "\f2d4"; }
.fi-interaction-stopwatch-26:before { content: "\f2d5"; }
.fi-interaction-stopwatch-27:before { content: "\f2d6"; }
.fi-interaction-stopwatch-28:before { content: "\f2d7"; }
.fi-interaction-stopwatch-29:before { content: "\f2d8"; }
.fi-interaction-stopwatch-3:before { content: "\f2d9"; }
.fi-interaction-stopwatch-4:before { content: "\f2da"; }
.fi-interaction-stopwatch-5:before { content: "\f2db"; }
.fi-interaction-stopwatch-6:before { content: "\f2dc"; }
.fi-interaction-stopwatch-7:before { content: "\f2dd"; }
.fi-interaction-stopwatch-8:before { content: "\f2de"; }
.fi-interaction-stopwatch-9:before { content: "\f2df"; }
.fi-interaction-user:before { content: "\f2e0"; }
.fi-interaction-user-1:before { content: "\f2e1"; }
.fi-interaction-user-10:before { content: "\f2e2"; }
.fi-interaction-user-11:before { content: "\f2e3"; }
.fi-interaction-user-12:before { content: "\f2e4"; }
.fi-interaction-user-13:before { content: "\f2e5"; }
.fi-interaction-user-14:before { content: "\f2e6"; }
.fi-interaction-user-15:before { content: "\f2e7"; }
.fi-interaction-user-16:before { content: "\f2e8"; }
.fi-interaction-user-17:before { content: "\f2e9"; }
.fi-interaction-user-18:before { content: "\f2ea"; }
.fi-interaction-user-19:before { content: "\f2eb"; }
.fi-interaction-user-2:before { content: "\f2ec"; }
.fi-interaction-user-20:before { content: "\f2ed"; }
.fi-interaction-user-21:before { content: "\f2ee"; }
.fi-interaction-user-22:before { content: "\f2ef"; }
.fi-interaction-user-23:before { content: "\f2f0"; }
.fi-interaction-user-24:before { content: "\f2f1"; }
.fi-interaction-user-25:before { content: "\f2f2"; }
.fi-interaction-user-26:before { content: "\f2f3"; }
.fi-interaction-user-27:before { content: "\f2f4"; }
.fi-interaction-user-28:before { content: "\f2f5"; }
.fi-interaction-user-29:before { content: "\f2f6"; }
.fi-interaction-user-3:before { content: "\f2f7"; }
.fi-interaction-user-30:before { content: "\f2f8"; }
.fi-interaction-user-31:before { content: "\f2f9"; }
.fi-interaction-user-32:before { content: "\f2fa"; }
.fi-interaction-user-33:before { content: "\f2fb"; }
.fi-interaction-user-34:before { content: "\f2fc"; }
.fi-interaction-user-35:before { content: "\f2fd"; }
.fi-interaction-user-36:before { content: "\f2fe"; }
.fi-interaction-user-37:before { content: "\f2ff"; }
.fi-interaction-user-38:before { content: "\f300"; }
.fi-interaction-user-39:before { content: "\f301"; }
.fi-interaction-user-4:before { content: "\f302"; }
.fi-interaction-user-40:before { content: "\f303"; }
.fi-interaction-user-41:before { content: "\f304"; }
.fi-interaction-user-42:before { content: "\f305"; }
.fi-interaction-user-43:before { content: "\f306"; }
.fi-interaction-user-44:before { content: "\f307"; }
.fi-interaction-user-45:before { content: "\f308"; }
.fi-interaction-user-46:before { content: "\f309"; }
.fi-interaction-user-47:before { content: "\f30a"; }
.fi-interaction-user-48:before { content: "\f30b"; }
.fi-interaction-user-49:before { content: "\f30c"; }
.fi-interaction-user-5:before { content: "\f30d"; }
.fi-interaction-user-50:before { content: "\f30e"; }
.fi-interaction-user-51:before { content: "\f30f"; }
.fi-interaction-user-52:before { content: "\f310"; }
.fi-interaction-user-53:before { content: "\f311"; }
.fi-interaction-user-54:before { content: "\f312"; }
.fi-interaction-user-55:before { content: "\f313"; }
.fi-interaction-user-56:before { content: "\f314"; }
.fi-interaction-user-57:before { content: "\f315"; }
.fi-interaction-user-58:before { content: "\f316"; }
.fi-interaction-user-59:before { content: "\f317"; }
.fi-interaction-user-6:before { content: "\f318"; }
.fi-interaction-user-7:before { content: "\f319"; }
.fi-interaction-user-8:before { content: "\f31a"; }
.fi-interaction-user-9:before { content: "\f31b"; }
.fi-interaction-video-player:before { content: "\f31c"; }
.fi-interaction-video-player-1:before { content: "\f31d"; }
.fi-interaction-video-player-10:before { content: "\f31e"; }
.fi-interaction-video-player-11:before { content: "\f31f"; }
.fi-interaction-video-player-12:before { content: "\f320"; }
.fi-interaction-video-player-13:before { content: "\f321"; }
.fi-interaction-video-player-14:before { content: "\f322"; }
.fi-interaction-video-player-15:before { content: "\f323"; }
.fi-interaction-video-player-16:before { content: "\f324"; }
.fi-interaction-video-player-17:before { content: "\f325"; }
.fi-interaction-video-player-18:before { content: "\f326"; }
.fi-interaction-video-player-19:before { content: "\f327"; }
.fi-interaction-video-player-2:before { content: "\f328"; }
.fi-interaction-video-player-3:before { content: "\f329"; }
.fi-interaction-video-player-4:before { content: "\f32a"; }
.fi-interaction-video-player-5:before { content: "\f32b"; }
.fi-interaction-video-player-6:before { content: "\f32c"; }
.fi-interaction-video-player-7:before { content: "\f32d"; }
.fi-interaction-video-player-8:before { content: "\f32e"; }
.fi-interaction-video-player-9:before { content: "\f32f"; }
    
    $font-fi-interaction-archive: "\f100";
    $font-fi-interaction-archive-1: "\f101";
    $font-fi-interaction-archive-10: "\f102";
    $font-fi-interaction-archive-11: "\f103";
    $font-fi-interaction-archive-12: "\f104";
    $font-fi-interaction-archive-13: "\f105";
    $font-fi-interaction-archive-14: "\f106";
    $font-fi-interaction-archive-15: "\f107";
    $font-fi-interaction-archive-16: "\f108";
    $font-fi-interaction-archive-17: "\f109";
    $font-fi-interaction-archive-18: "\f10a";
    $font-fi-interaction-archive-19: "\f10b";
    $font-fi-interaction-archive-2: "\f10c";
    $font-fi-interaction-archive-3: "\f10d";
    $font-fi-interaction-archive-4: "\f10e";
    $font-fi-interaction-archive-5: "\f10f";
    $font-fi-interaction-archive-6: "\f110";
    $font-fi-interaction-archive-7: "\f111";
    $font-fi-interaction-archive-8: "\f112";
    $font-fi-interaction-archive-9: "\f113";
    $font-fi-interaction-bookmark: "\f114";
    $font-fi-interaction-bookmark-1: "\f115";
    $font-fi-interaction-bookmark-10: "\f116";
    $font-fi-interaction-bookmark-11: "\f117";
    $font-fi-interaction-bookmark-12: "\f118";
    $font-fi-interaction-bookmark-13: "\f119";
    $font-fi-interaction-bookmark-14: "\f11a";
    $font-fi-interaction-bookmark-15: "\f11b";
    $font-fi-interaction-bookmark-16: "\f11c";
    $font-fi-interaction-bookmark-17: "\f11d";
    $font-fi-interaction-bookmark-18: "\f11e";
    $font-fi-interaction-bookmark-19: "\f11f";
    $font-fi-interaction-bookmark-2: "\f120";
    $font-fi-interaction-bookmark-3: "\f121";
    $font-fi-interaction-bookmark-4: "\f122";
    $font-fi-interaction-bookmark-5: "\f123";
    $font-fi-interaction-bookmark-6: "\f124";
    $font-fi-interaction-bookmark-7: "\f125";
    $font-fi-interaction-bookmark-8: "\f126";
    $font-fi-interaction-bookmark-9: "\f127";
    $font-fi-interaction-browser: "\f128";
    $font-fi-interaction-browser-1: "\f129";
    $font-fi-interaction-browser-10: "\f12a";
    $font-fi-interaction-browser-11: "\f12b";
    $font-fi-interaction-browser-12: "\f12c";
    $font-fi-interaction-browser-13: "\f12d";
    $font-fi-interaction-browser-14: "\f12e";
    $font-fi-interaction-browser-15: "\f12f";
    $font-fi-interaction-browser-16: "\f130";
    $font-fi-interaction-browser-17: "\f131";
    $font-fi-interaction-browser-18: "\f132";
    $font-fi-interaction-browser-19: "\f133";
    $font-fi-interaction-browser-2: "\f134";
    $font-fi-interaction-browser-3: "\f135";
    $font-fi-interaction-browser-4: "\f136";
    $font-fi-interaction-browser-5: "\f137";
    $font-fi-interaction-browser-6: "\f138";
    $font-fi-interaction-browser-7: "\f139";
    $font-fi-interaction-browser-8: "\f13a";
    $font-fi-interaction-browser-9: "\f13b";
    $font-fi-interaction-calendar: "\f13c";
    $font-fi-interaction-calendar-1: "\f13d";
    $font-fi-interaction-calendar-10: "\f13e";
    $font-fi-interaction-calendar-11: "\f13f";
    $font-fi-interaction-calendar-12: "\f140";
    $font-fi-interaction-calendar-13: "\f141";
    $font-fi-interaction-calendar-14: "\f142";
    $font-fi-interaction-calendar-15: "\f143";
    $font-fi-interaction-calendar-16: "\f144";
    $font-fi-interaction-calendar-17: "\f145";
    $font-fi-interaction-calendar-18: "\f146";
    $font-fi-interaction-calendar-19: "\f147";
    $font-fi-interaction-calendar-2: "\f148";
    $font-fi-interaction-calendar-20: "\f149";
    $font-fi-interaction-calendar-21: "\f14a";
    $font-fi-interaction-calendar-22: "\f14b";
    $font-fi-interaction-calendar-23: "\f14c";
    $font-fi-interaction-calendar-24: "\f14d";
    $font-fi-interaction-calendar-25: "\f14e";
    $font-fi-interaction-calendar-26: "\f14f";
    $font-fi-interaction-calendar-27: "\f150";
    $font-fi-interaction-calendar-28: "\f151";
    $font-fi-interaction-calendar-29: "\f152";
    $font-fi-interaction-calendar-3: "\f153";
    $font-fi-interaction-calendar-30: "\f154";
    $font-fi-interaction-calendar-31: "\f155";
    $font-fi-interaction-calendar-32: "\f156";
    $font-fi-interaction-calendar-33: "\f157";
    $font-fi-interaction-calendar-34: "\f158";
    $font-fi-interaction-calendar-35: "\f159";
    $font-fi-interaction-calendar-36: "\f15a";
    $font-fi-interaction-calendar-37: "\f15b";
    $font-fi-interaction-calendar-38: "\f15c";
    $font-fi-interaction-calendar-39: "\f15d";
    $font-fi-interaction-calendar-4: "\f15e";
    $font-fi-interaction-calendar-5: "\f15f";
    $font-fi-interaction-calendar-6: "\f160";
    $font-fi-interaction-calendar-7: "\f161";
    $font-fi-interaction-calendar-8: "\f162";
    $font-fi-interaction-calendar-9: "\f163";
    $font-fi-interaction-cloud-computing: "\f164";
    $font-fi-interaction-cloud-computing-1: "\f165";
    $font-fi-interaction-cloud-computing-10: "\f166";
    $font-fi-interaction-cloud-computing-11: "\f167";
    $font-fi-interaction-cloud-computing-12: "\f168";
    $font-fi-interaction-cloud-computing-13: "\f169";
    $font-fi-interaction-cloud-computing-14: "\f16a";
    $font-fi-interaction-cloud-computing-15: "\f16b";
    $font-fi-interaction-cloud-computing-16: "\f16c";
    $font-fi-interaction-cloud-computing-17: "\f16d";
    $font-fi-interaction-cloud-computing-18: "\f16e";
    $font-fi-interaction-cloud-computing-19: "\f16f";
    $font-fi-interaction-cloud-computing-2: "\f170";
    $font-fi-interaction-cloud-computing-3: "\f171";
    $font-fi-interaction-cloud-computing-4: "\f172";
    $font-fi-interaction-cloud-computing-5: "\f173";
    $font-fi-interaction-cloud-computing-6: "\f174";
    $font-fi-interaction-cloud-computing-7: "\f175";
    $font-fi-interaction-cloud-computing-8: "\f176";
    $font-fi-interaction-cloud-computing-9: "\f177";
    $font-fi-interaction-database: "\f178";
    $font-fi-interaction-database-1: "\f179";
    $font-fi-interaction-database-10: "\f17a";
    $font-fi-interaction-database-11: "\f17b";
    $font-fi-interaction-database-12: "\f17c";
    $font-fi-interaction-database-13: "\f17d";
    $font-fi-interaction-database-14: "\f17e";
    $font-fi-interaction-database-15: "\f17f";
    $font-fi-interaction-database-16: "\f180";
    $font-fi-interaction-database-17: "\f181";
    $font-fi-interaction-database-18: "\f182";
    $font-fi-interaction-database-19: "\f183";
    $font-fi-interaction-database-2: "\f184";
    $font-fi-interaction-database-3: "\f185";
    $font-fi-interaction-database-4: "\f186";
    $font-fi-interaction-database-5: "\f187";
    $font-fi-interaction-database-6: "\f188";
    $font-fi-interaction-database-7: "\f189";
    $font-fi-interaction-database-8: "\f18a";
    $font-fi-interaction-database-9: "\f18b";
    $font-fi-interaction-envelope: "\f18c";
    $font-fi-interaction-envelope-1: "\f18d";
    $font-fi-interaction-envelope-2: "\f18e";
    $font-fi-interaction-file: "\f18f";
    $font-fi-interaction-file-1: "\f190";
    $font-fi-interaction-file-10: "\f191";
    $font-fi-interaction-file-11: "\f192";
    $font-fi-interaction-file-12: "\f193";
    $font-fi-interaction-file-13: "\f194";
    $font-fi-interaction-file-14: "\f195";
    $font-fi-interaction-file-15: "\f196";
    $font-fi-interaction-file-16: "\f197";
    $font-fi-interaction-file-17: "\f198";
    $font-fi-interaction-file-18: "\f199";
    $font-fi-interaction-file-19: "\f19a";
    $font-fi-interaction-file-2: "\f19b";
    $font-fi-interaction-file-3: "\f19c";
    $font-fi-interaction-file-4: "\f19d";
    $font-fi-interaction-file-5: "\f19e";
    $font-fi-interaction-file-6: "\f19f";
    $font-fi-interaction-file-7: "\f1a0";
    $font-fi-interaction-file-8: "\f1a1";
    $font-fi-interaction-file-9: "\f1a2";
    $font-fi-interaction-folder: "\f1a3";
    $font-fi-interaction-folder-1: "\f1a4";
    $font-fi-interaction-folder-10: "\f1a5";
    $font-fi-interaction-folder-11: "\f1a6";
    $font-fi-interaction-folder-12: "\f1a7";
    $font-fi-interaction-folder-13: "\f1a8";
    $font-fi-interaction-folder-14: "\f1a9";
    $font-fi-interaction-folder-15: "\f1aa";
    $font-fi-interaction-folder-16: "\f1ab";
    $font-fi-interaction-folder-17: "\f1ac";
    $font-fi-interaction-folder-18: "\f1ad";
    $font-fi-interaction-folder-19: "\f1ae";
    $font-fi-interaction-folder-2: "\f1af";
    $font-fi-interaction-folder-3: "\f1b0";
    $font-fi-interaction-folder-4: "\f1b1";
    $font-fi-interaction-folder-5: "\f1b2";
    $font-fi-interaction-folder-6: "\f1b3";
    $font-fi-interaction-folder-7: "\f1b4";
    $font-fi-interaction-folder-8: "\f1b5";
    $font-fi-interaction-folder-9: "\f1b6";
    $font-fi-interaction-image: "\f1b7";
    $font-fi-interaction-image-1: "\f1b8";
    $font-fi-interaction-image-10: "\f1b9";
    $font-fi-interaction-image-11: "\f1ba";
    $font-fi-interaction-image-12: "\f1bb";
    $font-fi-interaction-image-13: "\f1bc";
    $font-fi-interaction-image-14: "\f1bd";
    $font-fi-interaction-image-15: "\f1be";
    $font-fi-interaction-image-16: "\f1bf";
    $font-fi-interaction-image-17: "\f1c0";
    $font-fi-interaction-image-18: "\f1c1";
    $font-fi-interaction-image-19: "\f1c2";
    $font-fi-interaction-image-2: "\f1c3";
    $font-fi-interaction-image-3: "\f1c4";
    $font-fi-interaction-image-4: "\f1c5";
    $font-fi-interaction-image-5: "\f1c6";
    $font-fi-interaction-image-6: "\f1c7";
    $font-fi-interaction-image-7: "\f1c8";
    $font-fi-interaction-image-8: "\f1c9";
    $font-fi-interaction-image-9: "\f1ca";
    $font-fi-interaction-list: "\f1cb";
    $font-fi-interaction-list-1: "\f1cc";
    $font-fi-interaction-list-10: "\f1cd";
    $font-fi-interaction-list-11: "\f1ce";
    $font-fi-interaction-list-12: "\f1cf";
    $font-fi-interaction-list-13: "\f1d0";
    $font-fi-interaction-list-14: "\f1d1";
    $font-fi-interaction-list-15: "\f1d2";
    $font-fi-interaction-list-16: "\f1d3";
    $font-fi-interaction-list-17: "\f1d4";
    $font-fi-interaction-list-18: "\f1d5";
    $font-fi-interaction-list-19: "\f1d6";
    $font-fi-interaction-list-2: "\f1d7";
    $font-fi-interaction-list-3: "\f1d8";
    $font-fi-interaction-list-4: "\f1d9";
    $font-fi-interaction-list-5: "\f1da";
    $font-fi-interaction-list-6: "\f1db";
    $font-fi-interaction-list-7: "\f1dc";
    $font-fi-interaction-list-8: "\f1dd";
    $font-fi-interaction-list-9: "\f1de";
    $font-fi-interaction-mail: "\f1df";
    $font-fi-interaction-mail-1: "\f1e0";
    $font-fi-interaction-mail-10: "\f1e1";
    $font-fi-interaction-mail-11: "\f1e2";
    $font-fi-interaction-mail-12: "\f1e3";
    $font-fi-interaction-mail-13: "\f1e4";
    $font-fi-interaction-mail-14: "\f1e5";
    $font-fi-interaction-mail-15: "\f1e6";
    $font-fi-interaction-mail-16: "\f1e7";
    $font-fi-interaction-mail-2: "\f1e8";
    $font-fi-interaction-mail-3: "\f1e9";
    $font-fi-interaction-mail-4: "\f1ea";
    $font-fi-interaction-mail-5: "\f1eb";
    $font-fi-interaction-mail-6: "\f1ec";
    $font-fi-interaction-mail-7: "\f1ed";
    $font-fi-interaction-mail-8: "\f1ee";
    $font-fi-interaction-mail-9: "\f1ef";
    $font-fi-interaction-map: "\f1f0";
    $font-fi-interaction-map-1: "\f1f1";
    $font-fi-interaction-map-10: "\f1f2";
    $font-fi-interaction-map-11: "\f1f3";
    $font-fi-interaction-map-12: "\f1f4";
    $font-fi-interaction-map-13: "\f1f5";
    $font-fi-interaction-map-14: "\f1f6";
    $font-fi-interaction-map-15: "\f1f7";
    $font-fi-interaction-map-16: "\f1f8";
    $font-fi-interaction-map-17: "\f1f9";
    $font-fi-interaction-map-18: "\f1fa";
    $font-fi-interaction-map-19: "\f1fb";
    $font-fi-interaction-map-2: "\f1fc";
    $font-fi-interaction-map-3: "\f1fd";
    $font-fi-interaction-map-4: "\f1fe";
    $font-fi-interaction-map-5: "\f1ff";
    $font-fi-interaction-map-6: "\f200";
    $font-fi-interaction-map-7: "\f201";
    $font-fi-interaction-map-8: "\f202";
    $font-fi-interaction-map-9: "\f203";
    $font-fi-interaction-music-player: "\f204";
    $font-fi-interaction-music-player-1: "\f205";
    $font-fi-interaction-music-player-10: "\f206";
    $font-fi-interaction-music-player-11: "\f207";
    $font-fi-interaction-music-player-12: "\f208";
    $font-fi-interaction-music-player-13: "\f209";
    $font-fi-interaction-music-player-14: "\f20a";
    $font-fi-interaction-music-player-15: "\f20b";
    $font-fi-interaction-music-player-16: "\f20c";
    $font-fi-interaction-music-player-17: "\f20d";
    $font-fi-interaction-music-player-18: "\f20e";
    $font-fi-interaction-music-player-19: "\f20f";
    $font-fi-interaction-music-player-2: "\f210";
    $font-fi-interaction-music-player-3: "\f211";
    $font-fi-interaction-music-player-4: "\f212";
    $font-fi-interaction-music-player-5: "\f213";
    $font-fi-interaction-music-player-6: "\f214";
    $font-fi-interaction-music-player-7: "\f215";
    $font-fi-interaction-music-player-8: "\f216";
    $font-fi-interaction-music-player-9: "\f217";
    $font-fi-interaction-notebook: "\f218";
    $font-fi-interaction-notebook-1: "\f219";
    $font-fi-interaction-notebook-10: "\f21a";
    $font-fi-interaction-notebook-11: "\f21b";
    $font-fi-interaction-notebook-12: "\f21c";
    $font-fi-interaction-notebook-13: "\f21d";
    $font-fi-interaction-notebook-14: "\f21e";
    $font-fi-interaction-notebook-15: "\f21f";
    $font-fi-interaction-notebook-16: "\f220";
    $font-fi-interaction-notebook-17: "\f221";
    $font-fi-interaction-notebook-18: "\f222";
    $font-fi-interaction-notebook-19: "\f223";
    $font-fi-interaction-notebook-2: "\f224";
    $font-fi-interaction-notebook-3: "\f225";
    $font-fi-interaction-notebook-4: "\f226";
    $font-fi-interaction-notebook-5: "\f227";
    $font-fi-interaction-notebook-6: "\f228";
    $font-fi-interaction-notebook-7: "\f229";
    $font-fi-interaction-notebook-8: "\f22a";
    $font-fi-interaction-notebook-9: "\f22b";
    $font-fi-interaction-notepad: "\f22c";
    $font-fi-interaction-notepad-1: "\f22d";
    $font-fi-interaction-notepad-10: "\f22e";
    $font-fi-interaction-notepad-11: "\f22f";
    $font-fi-interaction-notepad-12: "\f230";
    $font-fi-interaction-notepad-13: "\f231";
    $font-fi-interaction-notepad-14: "\f232";
    $font-fi-interaction-notepad-15: "\f233";
    $font-fi-interaction-notepad-16: "\f234";
    $font-fi-interaction-notepad-17: "\f235";
    $font-fi-interaction-notepad-18: "\f236";
    $font-fi-interaction-notepad-19: "\f237";
    $font-fi-interaction-notepad-2: "\f238";
    $font-fi-interaction-notepad-3: "\f239";
    $font-fi-interaction-notepad-4: "\f23a";
    $font-fi-interaction-notepad-5: "\f23b";
    $font-fi-interaction-notepad-6: "\f23c";
    $font-fi-interaction-notepad-7: "\f23d";
    $font-fi-interaction-notepad-8: "\f23e";
    $font-fi-interaction-notepad-9: "\f23f";
    $font-fi-interaction-phone-call: "\f240";
    $font-fi-interaction-phone-call-1: "\f241";
    $font-fi-interaction-phone-call-10: "\f242";
    $font-fi-interaction-phone-call-11: "\f243";
    $font-fi-interaction-phone-call-12: "\f244";
    $font-fi-interaction-phone-call-13: "\f245";
    $font-fi-interaction-phone-call-14: "\f246";
    $font-fi-interaction-phone-call-15: "\f247";
    $font-fi-interaction-phone-call-16: "\f248";
    $font-fi-interaction-phone-call-17: "\f249";
    $font-fi-interaction-phone-call-18: "\f24a";
    $font-fi-interaction-phone-call-19: "\f24b";
    $font-fi-interaction-phone-call-2: "\f24c";
    $font-fi-interaction-phone-call-3: "\f24d";
    $font-fi-interaction-phone-call-4: "\f24e";
    $font-fi-interaction-phone-call-5: "\f24f";
    $font-fi-interaction-phone-call-6: "\f250";
    $font-fi-interaction-phone-call-7: "\f251";
    $font-fi-interaction-phone-call-8: "\f252";
    $font-fi-interaction-phone-call-9: "\f253";
    $font-fi-interaction-placeholder: "\f254";
    $font-fi-interaction-placeholder-1: "\f255";
    $font-fi-interaction-placeholder-10: "\f256";
    $font-fi-interaction-placeholder-11: "\f257";
    $font-fi-interaction-placeholder-12: "\f258";
    $font-fi-interaction-placeholder-13: "\f259";
    $font-fi-interaction-placeholder-14: "\f25a";
    $font-fi-interaction-placeholder-15: "\f25b";
    $font-fi-interaction-placeholder-16: "\f25c";
    $font-fi-interaction-placeholder-17: "\f25d";
    $font-fi-interaction-placeholder-18: "\f25e";
    $font-fi-interaction-placeholder-19: "\f25f";
    $font-fi-interaction-placeholder-2: "\f260";
    $font-fi-interaction-placeholder-3: "\f261";
    $font-fi-interaction-placeholder-4: "\f262";
    $font-fi-interaction-placeholder-5: "\f263";
    $font-fi-interaction-placeholder-6: "\f264";
    $font-fi-interaction-placeholder-7: "\f265";
    $font-fi-interaction-placeholder-8: "\f266";
    $font-fi-interaction-placeholder-9: "\f267";
    $font-fi-interaction-price-tag: "\f268";
    $font-fi-interaction-price-tag-1: "\f269";
    $font-fi-interaction-price-tag-10: "\f26a";
    $font-fi-interaction-price-tag-11: "\f26b";
    $font-fi-interaction-price-tag-12: "\f26c";
    $font-fi-interaction-price-tag-13: "\f26d";
    $font-fi-interaction-price-tag-14: "\f26e";
    $font-fi-interaction-price-tag-15: "\f26f";
    $font-fi-interaction-price-tag-16: "\f270";
    $font-fi-interaction-price-tag-17: "\f271";
    $font-fi-interaction-price-tag-18: "\f272";
    $font-fi-interaction-price-tag-19: "\f273";
    $font-fi-interaction-price-tag-2: "\f274";
    $font-fi-interaction-price-tag-3: "\f275";
    $font-fi-interaction-price-tag-4: "\f276";
    $font-fi-interaction-price-tag-5: "\f277";
    $font-fi-interaction-price-tag-6: "\f278";
    $font-fi-interaction-price-tag-7: "\f279";
    $font-fi-interaction-price-tag-8: "\f27a";
    $font-fi-interaction-price-tag-9: "\f27b";
    $font-fi-interaction-server: "\f27c";
    $font-fi-interaction-server-1: "\f27d";
    $font-fi-interaction-server-10: "\f27e";
    $font-fi-interaction-server-11: "\f27f";
    $font-fi-interaction-server-12: "\f280";
    $font-fi-interaction-server-13: "\f281";
    $font-fi-interaction-server-14: "\f282";
    $font-fi-interaction-server-15: "\f283";
    $font-fi-interaction-server-16: "\f284";
    $font-fi-interaction-server-17: "\f285";
    $font-fi-interaction-server-18: "\f286";
    $font-fi-interaction-server-19: "\f287";
    $font-fi-interaction-server-2: "\f288";
    $font-fi-interaction-server-3: "\f289";
    $font-fi-interaction-server-4: "\f28a";
    $font-fi-interaction-server-5: "\f28b";
    $font-fi-interaction-server-6: "\f28c";
    $font-fi-interaction-server-7: "\f28d";
    $font-fi-interaction-server-8: "\f28e";
    $font-fi-interaction-server-9: "\f28f";
    $font-fi-interaction-signs: "\f290";
    $font-fi-interaction-signs-1: "\f291";
    $font-fi-interaction-signs-2: "\f292";
    $font-fi-interaction-signs-3: "\f293";
    $font-fi-interaction-signs-4: "\f294";
    $font-fi-interaction-signs-5: "\f295";
    $font-fi-interaction-signs-6: "\f296";
    $font-fi-interaction-signs-7: "\f297";
    $font-fi-interaction-signs-8: "\f298";
    $font-fi-interaction-signs-9: "\f299";
    $font-fi-interaction-smartphone: "\f29a";
    $font-fi-interaction-smartphone-1: "\f29b";
    $font-fi-interaction-smartphone-10: "\f29c";
    $font-fi-interaction-smartphone-11: "\f29d";
    $font-fi-interaction-smartphone-12: "\f29e";
    $font-fi-interaction-smartphone-13: "\f29f";
    $font-fi-interaction-smartphone-14: "\f2a0";
    $font-fi-interaction-smartphone-15: "\f2a1";
    $font-fi-interaction-smartphone-16: "\f2a2";
    $font-fi-interaction-smartphone-17: "\f2a3";
    $font-fi-interaction-smartphone-18: "\f2a4";
    $font-fi-interaction-smartphone-19: "\f2a5";
    $font-fi-interaction-smartphone-2: "\f2a6";
    $font-fi-interaction-smartphone-3: "\f2a7";
    $font-fi-interaction-smartphone-4: "\f2a8";
    $font-fi-interaction-smartphone-5: "\f2a9";
    $font-fi-interaction-smartphone-6: "\f2aa";
    $font-fi-interaction-smartphone-7: "\f2ab";
    $font-fi-interaction-smartphone-8: "\f2ac";
    $font-fi-interaction-smartphone-9: "\f2ad";
    $font-fi-interaction-speech-bubble: "\f2ae";
    $font-fi-interaction-speech-bubble-1: "\f2af";
    $font-fi-interaction-speech-bubble-10: "\f2b0";
    $font-fi-interaction-speech-bubble-11: "\f2b1";
    $font-fi-interaction-speech-bubble-12: "\f2b2";
    $font-fi-interaction-speech-bubble-13: "\f2b3";
    $font-fi-interaction-speech-bubble-14: "\f2b4";
    $font-fi-interaction-speech-bubble-15: "\f2b5";
    $font-fi-interaction-speech-bubble-16: "\f2b6";
    $font-fi-interaction-speech-bubble-17: "\f2b7";
    $font-fi-interaction-speech-bubble-18: "\f2b8";
    $font-fi-interaction-speech-bubble-19: "\f2b9";
    $font-fi-interaction-speech-bubble-2: "\f2ba";
    $font-fi-interaction-speech-bubble-3: "\f2bb";
    $font-fi-interaction-speech-bubble-4: "\f2bc";
    $font-fi-interaction-speech-bubble-5: "\f2bd";
    $font-fi-interaction-speech-bubble-6: "\f2be";
    $font-fi-interaction-speech-bubble-7: "\f2bf";
    $font-fi-interaction-speech-bubble-8: "\f2c0";
    $font-fi-interaction-speech-bubble-9: "\f2c1";
    $font-fi-interaction-stopwatch: "\f2c2";
    $font-fi-interaction-stopwatch-1: "\f2c3";
    $font-fi-interaction-stopwatch-10: "\f2c4";
    $font-fi-interaction-stopwatch-11: "\f2c5";
    $font-fi-interaction-stopwatch-12: "\f2c6";
    $font-fi-interaction-stopwatch-13: "\f2c7";
    $font-fi-interaction-stopwatch-14: "\f2c8";
    $font-fi-interaction-stopwatch-15: "\f2c9";
    $font-fi-interaction-stopwatch-16: "\f2ca";
    $font-fi-interaction-stopwatch-17: "\f2cb";
    $font-fi-interaction-stopwatch-18: "\f2cc";
    $font-fi-interaction-stopwatch-19: "\f2cd";
    $font-fi-interaction-stopwatch-2: "\f2ce";
    $font-fi-interaction-stopwatch-20: "\f2cf";
    $font-fi-interaction-stopwatch-21: "\f2d0";
    $font-fi-interaction-stopwatch-22: "\f2d1";
    $font-fi-interaction-stopwatch-23: "\f2d2";
    $font-fi-interaction-stopwatch-24: "\f2d3";
    $font-fi-interaction-stopwatch-25: "\f2d4";
    $font-fi-interaction-stopwatch-26: "\f2d5";
    $font-fi-interaction-stopwatch-27: "\f2d6";
    $font-fi-interaction-stopwatch-28: "\f2d7";
    $font-fi-interaction-stopwatch-29: "\f2d8";
    $font-fi-interaction-stopwatch-3: "\f2d9";
    $font-fi-interaction-stopwatch-4: "\f2da";
    $font-fi-interaction-stopwatch-5: "\f2db";
    $font-fi-interaction-stopwatch-6: "\f2dc";
    $font-fi-interaction-stopwatch-7: "\f2dd";
    $font-fi-interaction-stopwatch-8: "\f2de";
    $font-fi-interaction-stopwatch-9: "\f2df";
    $font-fi-interaction-user: "\f2e0";
    $font-fi-interaction-user-1: "\f2e1";
    $font-fi-interaction-user-10: "\f2e2";
    $font-fi-interaction-user-11: "\f2e3";
    $font-fi-interaction-user-12: "\f2e4";
    $font-fi-interaction-user-13: "\f2e5";
    $font-fi-interaction-user-14: "\f2e6";
    $font-fi-interaction-user-15: "\f2e7";
    $font-fi-interaction-user-16: "\f2e8";
    $font-fi-interaction-user-17: "\f2e9";
    $font-fi-interaction-user-18: "\f2ea";
    $font-fi-interaction-user-19: "\f2eb";
    $font-fi-interaction-user-2: "\f2ec";
    $font-fi-interaction-user-20: "\f2ed";
    $font-fi-interaction-user-21: "\f2ee";
    $font-fi-interaction-user-22: "\f2ef";
    $font-fi-interaction-user-23: "\f2f0";
    $font-fi-interaction-user-24: "\f2f1";
    $font-fi-interaction-user-25: "\f2f2";
    $font-fi-interaction-user-26: "\f2f3";
    $font-fi-interaction-user-27: "\f2f4";
    $font-fi-interaction-user-28: "\f2f5";
    $font-fi-interaction-user-29: "\f2f6";
    $font-fi-interaction-user-3: "\f2f7";
    $font-fi-interaction-user-30: "\f2f8";
    $font-fi-interaction-user-31: "\f2f9";
    $font-fi-interaction-user-32: "\f2fa";
    $font-fi-interaction-user-33: "\f2fb";
    $font-fi-interaction-user-34: "\f2fc";
    $font-fi-interaction-user-35: "\f2fd";
    $font-fi-interaction-user-36: "\f2fe";
    $font-fi-interaction-user-37: "\f2ff";
    $font-fi-interaction-user-38: "\f300";
    $font-fi-interaction-user-39: "\f301";
    $font-fi-interaction-user-4: "\f302";
    $font-fi-interaction-user-40: "\f303";
    $font-fi-interaction-user-41: "\f304";
    $font-fi-interaction-user-42: "\f305";
    $font-fi-interaction-user-43: "\f306";
    $font-fi-interaction-user-44: "\f307";
    $font-fi-interaction-user-45: "\f308";
    $font-fi-interaction-user-46: "\f309";
    $font-fi-interaction-user-47: "\f30a";
    $font-fi-interaction-user-48: "\f30b";
    $font-fi-interaction-user-49: "\f30c";
    $font-fi-interaction-user-5: "\f30d";
    $font-fi-interaction-user-50: "\f30e";
    $font-fi-interaction-user-51: "\f30f";
    $font-fi-interaction-user-52: "\f310";
    $font-fi-interaction-user-53: "\f311";
    $font-fi-interaction-user-54: "\f312";
    $font-fi-interaction-user-55: "\f313";
    $font-fi-interaction-user-56: "\f314";
    $font-fi-interaction-user-57: "\f315";
    $font-fi-interaction-user-58: "\f316";
    $font-fi-interaction-user-59: "\f317";
    $font-fi-interaction-user-6: "\f318";
    $font-fi-interaction-user-7: "\f319";
    $font-fi-interaction-user-8: "\f31a";
    $font-fi-interaction-user-9: "\f31b";
    $font-fi-interaction-video-player: "\f31c";
    $font-fi-interaction-video-player-1: "\f31d";
    $font-fi-interaction-video-player-10: "\f31e";
    $font-fi-interaction-video-player-11: "\f31f";
    $font-fi-interaction-video-player-12: "\f320";
    $font-fi-interaction-video-player-13: "\f321";
    $font-fi-interaction-video-player-14: "\f322";
    $font-fi-interaction-video-player-15: "\f323";
    $font-fi-interaction-video-player-16: "\f324";
    $font-fi-interaction-video-player-17: "\f325";
    $font-fi-interaction-video-player-18: "\f326";
    $font-fi-interaction-video-player-19: "\f327";
    $font-fi-interaction-video-player-2: "\f328";
    $font-fi-interaction-video-player-3: "\f329";
    $font-fi-interaction-video-player-4: "\f32a";
    $font-fi-interaction-video-player-5: "\f32b";
    $font-fi-interaction-video-player-6: "\f32c";
    $font-fi-interaction-video-player-7: "\f32d";
    $font-fi-interaction-video-player-8: "\f32e";
    $font-fi-interaction-video-player-9: "\f32f";