// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
$font-path: "../assets/fonts";
$slick-font-path: "../assets/fonts/slick-carousel/";
$slick-loader-path: "../assets/img/slick-carousel/";

@import "ionic.globals";

// [OPICA] White label theme
// --------------------------------------------------
// The variables for the theme base are taken from this file.
// Switch the file below to change white labelled themes
@import "./opica/variables";

// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.dark";

// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

@import "ionicons";

// Other icon fonts
// --------------------------------------------------

@import 'icons/icons';

// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
@import "../assets/fonts/bebas-neue/bebas-neue"