// OPICA styles for cards
$cta-row-border-color: gainsboro !default;
.card {
  &.card-inverse {
    // If this is the dark theme, then invert the card to be white 
    background: map-get($opc-colors, bg3);
    .card-ios p {
      color: #242424;
    }
    .card-header-ios {
      color: map-get($opc-colors, primary);
    }
  }
  &.card-dull, &.card-alt {
    background: map-get($flat-colors, asphalt);
  }
  .card-header {
    font-size: 1.1em;
    font-weight: 300;
  }
  // How about cards with a lighter colored background:?
  // HOW BOW DAH
  $card-announcement-bg-color: map-get($flat-colors, clouds) !default;
  $card-announcement-fg-color: map-get($opc-colors, primary) !default;
  &.announcement {
    background: $card-announcement-bg-color;
    &, .card-title-ios {
      color: $card-announcement-fg-color;
    }
    p {
      color: lighten($card-announcement-fg-color, 5%);
    }
    .cta-wrapper {
      button {
        color: $card-announcement-fg-color;
      }
      &.cta-primary {
        position: relative;
        background-color: map-get($opc-colors, brand);
        button {
          color: white;
        }
      }
    }
  }
  // Nearly taken from Ionic2 docs
  .captioned-image {
    position: relative;
    .card-title {
      position: absolute;
      bottom: 0;
      // bottom: $content-margin;
      font-size: 2.0em;
      font-weight: bold;
      color: #fff;
    }
  }
}