<ion-header>
  <ion-navbar>
    <button ion-button menuToggle *ngIf="!navCtrl.canGoBack()">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Notifications</ion-title>
    <ion-buttons end>
      <button ion-button (click)="showOptions()">Edit</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <!--<ion-refresher (ionRefresh)="loadNotifications(true, $event)" [enabled]="true">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="crescent">
    </ion-refresher-content>
  </ion-refresher>-->
  <ion-list #notificationList>
    <ion-item-sliding *ngFor="let ni of notificationListItems">
      <ion-item text-wrap class="notification-item" (click)="handleNotificationTap(ni)" [ngClass]="{'notification-unread': ni.showUnreadCounter}">
        <span [innerHTML]="ni.notification.message()"></span>
        <p>
          <ion-icon *ngIf="ni.ionicon" [name]="ni.ionicon"></ion-icon>
          <opc-icon *ngIf="ni.opicon" [name]="ni.opicon.name" [set]="ni.opicon.set" size="xs"></opc-icon>
          {{ni.notification.dateTime | date:'medium'}}
        </p>
      </ion-item>
      <ion-item-options side="left" icon-left (ionSwipe)="markRead(ni)">
        <button ion-button expandable color="secondary" (click)="markRead(ni)">
          <ion-icon name="archive"></ion-icon>
          Mark Read
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="loadMoreNotifications()">
   <ion-infinite-scroll-content></ion-infinite-scroll-content>
 </ion-infinite-scroll>
</ion-content>