<ion-content>
  <ion-toolbar *ngIf="navCtrl.canGoBack()" [hidden]="isSubmitted">
    <button ion-button icon-left clear navPop color="light">
      <ion-icon name="md-arrow-back"></ion-icon>
    </button>
  </ion-toolbar>
  <section [hidden]="isSubmitted">
    <form class="auth-form change-password-form" (ngSubmit)="submitChangePassword()">
      <fieldset padding class="auth-form-fields">
        <ion-input type="password" name="password" [(ngModel)]="password" placeholder="New password"></ion-input>
        <ion-input type="password" name="password_twice" [(ngModel)]="password2"  placeholder="New password again"></ion-input>
      </fieldset>
    </form>
  </section>
  <section *ngIf="isSubmitted">
    <div padding class="change-password-success">
      <ion-grid>
        <ion-row>
          <ion-col width-33 text-center><ion-icon name="checkmark-circle-outline"></ion-icon></ion-col>
          <ion-col width-64><h2>Password has been changed</h2></ion-col>
        </ion-row>
      </ion-grid>
      <button ion-button block navPop>OK</button>
    </div>
  </section>
</ion-content>
<ion-footer padding>
  <button ion-button block large color="light" (click)="submitLogin()">Login</button>
</ion-footer>