<ion-header>
  <ion-navbar>
    <ion-title>Loading...</ion-title>
  </ion-navbar>
  <ion-navbar></ion-navbar>
</ion-header>
<ion-content>
  <div class="scenario-item">
    <property-summary placeholder="true"></property-summary>
    <property-summary placeholder="true"></property-summary>
    <!--<aside class="cutout-placeholder">
      <span>Tap to select your existing property</span>
    </aside>-->
  </div>
</ion-content>
<ion-footer padding>
  <button ion-button block></button>
</ion-footer>